@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: #000 0 0 20px, #000 0 0 20px, #000 0 0 20px;
  }

  .bg-image {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
