---
import Survey from "../components/Survey.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pozvánka">
  <p class="font-paris text-yellow-500 text-9xl">50</p>
  <p>Milá rodina a priatelia,</p>
  <p class="text-center">
    srdečne Vás pozývam na oslavu môjho jubilea, ktorá sa uskutoční
  </p>
  <div class="flex items-center w-full">
    <div class="flex-1 flex justify-end">
      <p class="border-t border-b border-black px-4 py-1">Sobota</p>
    </div>
    <div class="flex flex-col items-center mx-6">
      <p>Apríl</p>
      <p class="font-paris text-4xl my-3 text-yellow-500">29</p>
      <p>2023</p>
    </div>
    <div class="flex-1 flex">
      <p class="border-t border-b border-black px-4 py-1">17:00</p>
    </div>
  </div>
  <p class="text-sm">v dome kultúri</p>
  <p class="text-sm">Belasnkého 12</p>
  <p class="text-sm">Liptovský Mikuláš</p>
  <Survey client:load />

  <style>
    @font-face {
      font-family: Parisienne;
      src: url("/fonts/Parisienne-Regular.ttf");
    }
    @font-face {
      font-family: Montserrat;
      src: url("/fonts/Montserrat-Regular.ttf");
    }
  </style>
</Layout>
